
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,700;1,200&family=Source+Sans+3:ital,wght@1,300&family=Work+Sans:wght@200;400&display=swap');

@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container,header,footer {
        width: 700px;
    }
}

@media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container,header,footer {
        width: 500px;
    }
}

@media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container,header,footer {
        width: 300px;
    }
}

body {
    background-color:#242532;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
}

/* Headings Styles */

h1 {
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size:40px;
    margin: -5px;
}

h2 {
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size:30px;
    margin: -5px;
}

/* Headings Style for h3 */

h3 {
    color:white;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 30px;
    margin: -10px;
}

/* Style for text */

.text-center {
    text-align: center;
    color:white;
    list-style: none;
    
}

p { 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* Header style */

.header {
    background-color: #13141C;
    padding: 30px;
    position:fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);  
}

/* Header links and style */

li > p {
    font-size: 16px;
    display: inline;
    padding: 30px;
}

li > p:hover {
    color:#D489B1;
}

/* Buttons */

a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 16px, 8px;
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}

a:hover { 
    color:#D489B1;
    border: white;
}


/* Image size */

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;

}

img:hover {
    opacity:0.6;
    border-color: aliceblue;
    transition: .3s ease-in-out; 
}


/* Section with h1 and my name */

.container {
    background-image: url("images/background-image-lets-work-together.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    background-blend-mode: overlay;
    background-color:#14151da7;
    padding-top: 150px;
    padding-bottom: 150px;
}

.container-about-me {
    background-color: #171721;
    max-width: 1000px;        /* Set the width */
    margin: 0 auto;      /* Set automatic margins on right/left */
    padding: 80px;
}

.container-about-me:hover {
    background-color: #12121a;
}

/* My descripiton */

.description {
    margin-bottom: 20px;
}

/* Button Portfolio */


.btn-pink-portfolio {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 25px;
    border-radius: 70px;
    background-color:#D489B1;
}

.btn-pink-portfolio:hover {
    color:white;
    background-color:#13141C;
}

/* Footer */

.footer {
    background-color: #13141C;
    margin: 50 auto;  
    padding-top: 50px; 
    padding-bottom: 50px; 
}

/* Copywright style */

.copyright { 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* Social Media icons /

/* Style all font awesome icons */

.list-inline {
    display: inline;
    padding: 10px;
    width: 80px;
    height: 80px;
}

.fa-dribbble {
    color: white;
    font-size:30px;
    padding-left: 0px;
}

.fa-dribbble:hover {
    color:#D489B1;
} 

.fa-linkedin-in {
    color: white;
    font-size:30px;
    padding-left: 0px;
}

.fa-linkedin-in:hover {
    color:#D489B1;
}


/* animations

@keyframes growAndChangeColor {
    0% {
        transform: scale(1);
        background-color: white;
    }
    50% {
        transform: scale(1.5);
        background-color: pink;
    }
    100% {
        transform: scale(2);
        background-color: black;
    }
}

.element-to-animate {
    animation: growAndChangeColor 4s ease-in-out infinite;
} */

/* .scrolling-text {
    background-color: black;
} */

/* .marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    color:white;
    background-color: rgb(9, 13, 27);
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
  } */
  
  /* .marquee span {
    display: inline-block;
    animation: marquee 50s linear infinite;
  } */
 
/*   
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(100%, 0);
    }
  } */