@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,700;1,200&family=Source+Sans+3:ital,wght@1,300&family=Work+Sans:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap');


@media (max-width: 960px) {
    .container,header,footer {
        width: 700px;
    }
}

@media (max-width: 720px) {
    .container,header,footer {
        width: 500px;
    }
}

@media (max-width: 540px) {
    .container,header,footer {
        width: 300px;
    }
} 

:root {
    --background: #242532;
    --primary: white;
    --font-family:'Poppins', sans-serif;
    --secondary: #D489B1;
}

body {
    background-color:var(--background);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Headings Styles */

h1 {
    color:var(--primary);
    font-family: var(--font-family);
    font-size:40px;
    margin: -5px;
}

h2 {
    color:white;
    font-family: var(--font-family);
    font-size:30px;
    margin: -5px;
}

/* Headings Style for h3 */

h3 {
    color:var(--primary);
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 30px;
    margin: -10px;
} 

/* Style for text */

.text-center {
    text-align: center;
    color:var(--primary);
    list-style: none;
    
}

p { 
    font-family: 'Overpass Mono', sans-serif;
    font-weight: 400;
    font-size: 16px;
} 

/* Header style */

.header {
    background-color: #13141C;
    padding: 30px;
    position:fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);  
} 

/* Header links and style */

li > p {
    font-size: 16px;
    display: inline;
    padding: 30px;
}

li > p:hover {
    color: var(--secondary);
} 

/* Buttons */

a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 16px, 8px;
    color: var(--primary);
    text-decoration: none;
    transition-duration: 0.4s;
}

a:hover { 
    color:#D489B1;
    border: white;
} 


/* Image size */

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;

}

img:hover {
    opacity:0.6;
    border-color: aliceblue;
    transition: .3s ease-in-out; 
}


/* Section with h1 and my name */

.container {
    background-image: url("images/background-image-lets-work-together.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    background-blend-mode: overlay;
    background-color:#14151da7;
    padding-top: 150px;
    padding-bottom: 150px;
}

.container-about-me {
    background-color: #171721;
    max-width: 1000px;       
    margin: 0 auto;      
    padding: 80px;
}

.container-about-me:hover {
    background-color: #12121a;
}

/* My descripiton */

.description {
    margin-bottom: 20px;
} 

/* Button Portfolio */


.btn-pink-portfolio {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 25px;
    border-radius: 70px;
    background-color:#D489B1;
}

.btn-pink-portfolio:hover {
    color:white;
    background-color:#13141C;
}

/* Footer */

.footer {
    background-color: #13141C;
    margin: 50 auto;  
    padding-top: 50px; 
    padding-bottom: 50px; 
}

/* Copywright style */

.copyright { 
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* Social Media icons /

/* Style all font awesome icons */

.list-inline {
    display: inline;
    padding: 10px;
    width: 80px;
    height: 80px;
}

.fa-dribbble {
    color: white;
    font-size:20px;
    padding-left: 0px;
}

.fa-dribbble:hover {
    color:#D489B1;
} 

.fa-linkedin-in {
    color: white;
    font-size:20px;
    padding-left: 0px;
}

.fa-linkedin-in:hover {
    color:#D489B1;
}


.portfolio-container {
    display: flex;

}


.faq-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 12em 0em 12em 0em;
}

details {
	font-size: 1rem;
	margin: 0 auto;
	width: 100%;
	background: #F6FAFF;
	border-radius: 8px;
	position: relative;
	max-width: 600px;
  border: 1px solid #C3DEFF;
  transition: all 0.3s ease-in-out;
}

details:hover {
  border: 1px solid #A4A1FF;
}


summary {
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  list-style: none;
  padding: 1em;
  align-items: center;
}

summary:hover .faq-title {
  opacity: 1;
}

summary::-webkit-details-marker {
  display: none;
}

summary:focus {
  outline: none;
}

summary:hover .expand-icon {
  opacity: 1;
  size: 10px;
}

.faq-title {
  color: #1C2035;
  width: 90%;
  opacity: 0.65;
  transition: all 250ms ease-in-out;
}

.faq-content {
  color: #303651;
  padding: 0.2em 1em 1em 1em;
  font-weight: 300;
  line-height: 1.5;
}

.expand-icon {
  opacity: 0.65;
  width: 40px;
}

.expand-icon {
  pointer-events: none;
  position: absolute;
  right: 1em;
  transition: all 150ms ease-out;
}


/* Cursor */

.ball {
	background: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	mix-blend-mode: exclusion;
}


/* Button bn5 */

.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color: #000;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }